.section{
    padding: 5rem;
}

.section-center{
    width: 90vw;
    margin: 0 auto;
    max-width: 50rem;
    margin-top: 8rem;
}

.section-center {
    background: #fff;
    border-radius: 0.25rem;
    box-shadow:  0 5px 15px rgba(0,0,0, 0.1);
    transform: all 0.3s linear;
    padding: 2rem;
}

.form{
    display: flex;
    justify-content: center;
}

